name: Publish snapshot to OSSRH

on:
  pull_request:
  push:
      branches: [ master, version-* ]

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: actions/cache@v2
        with:
          key: ${{ hashFiles('pom.xml') }}
          path: ~/.m2/repository
      - id: version
        name: Update version for PR builds
        run: |
          mvn_version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          pr_number=${{ github.event.number }}
          if [[ $pr_number != "" ]]
          then
            pattern="s/(.+)-SNAPSHOT/\1-"$pr_number"-SNAPSHOT/g"
            mvn_version=$(echo $mvn_version | sed -E $pattern)
            mvn versions:set -DnewVersion=$mvn_version -DgenerateBackupPoms=false -q -DforceStdout
            echo Setting version to $mvn_version
          fi

          echo ::set-output name=mvn_version::$mvn_version
      - name: Publish snapshot
        if: ${{ endsWith(steps.version.outputs.mvn_version, 'SNAPSHOT') }}
        uses: samuelmeuli/action-maven-publish@v1.4.0
        with:
          gpg_private_key: ${{ secrets.OSSRH_GPG_KEY_ASCII }}
          gpg_passphrase: ${{ secrets.OSSRH_GPG_PASSPHRASE }}
          nexus_username: ${{ secrets.OSSRH_USERNAME }}
          nexus_password: ${{ secrets.OSSRH_PASSWORD }}
